* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.container {
  width: 96%;
  max-width: 1440px;
  height: auto;
  margin: 0 auto;
}

h2 {
  line-height: 3rem;
}

p {
  line-height: 1.5rem;
}

.section-1 {
  position: relative;
  background-color: #fff;
  width: 100%;
  height: 750px;
  padding: 2rem 5%;
}
.section-1 header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 2.5rem;
}
.section-1 header .logo {
  font-size: 2rem;
  letter-spacing: 0.75rem;
}
.section-1 header nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  z-index: 1;
}
.section-1 header nav .navbar-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  list-style: none;
}
.section-1 header nav .navbar-list .navbar-list-item a {
  text-decoration: none;
  color: rgba(51, 51, 51, 0.5);
}
.section-1 header nav .header-btn-1 {
  color: rgba(51, 51, 51, 0.5);
  border: 1px solid rgba(51, 51, 51, 0.25);
  padding: 0.75rem;
  text-decoration: none;
  border-radius: 3px;
  box-shadow: rgba(99, 99, 99, 0.25) 0px 2px 8px 0px;
}
.section-1 .section-1-content {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: space-between;
  width: 100%;
  height: 100%;
}
.section-1 .section-1-content h1 {
  width: 100%;
  height: auto;
  font-size: 5rem;
  font-weight: 500;
  z-index: 1;
}
.section-1 .section-1-content p {
  width: 25%;
  font-size: 1rem;
  font-weight: 400;
}
.section-1 .section-1-content a {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 11.75rem;
  height: 4rem;
  background: #FFEA31;
  border-radius: 4px;
  text-decoration: none;
  color: #393737;
}
.section-1 .section-1-bg-img-1 {
  position: absolute;
  top: 0;
  left: 10%;
}
.section-1 .section-1-bg-img-2 {
  position: absolute;
  bottom: 0%;
  left: 40%;
}
.section-1 .section-1-background-img-div-1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
  position: absolute;
  width: 21%;
  height: 62%;
  top: 0;
  right: 2%;
  background: rgba(255, 234, 48, 0.25);
}
.section-1 .section-1-background-img-div-1 img {
  width: 100%;
  height: auto;
}
.section-1 .section-1-background-img-div-2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  position: absolute;
  width: 21%;
  height: 35%;
  bottom: 0;
  right: 2%;
  background: rgba(255, 234, 48, 0.25);
  overflow: hidden;
}
.section-1 .section-1-background-img-div-2 img:nth-of-type(1) {
  width: 100%;
  height: auto;
}
.section-1 .section-1-background-img-div-2 img:nth-of-type(2) {
  margin-top: 4rem;
}
.section-1 .cookies-div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 50%);
  box-shadow: 0px 14px 30px 0px rgba(0, 0, 0, 0.1490196078);
  color: #4E66FF;
  padding: 1.25rem 3rem;
  border-radius: 220px;
  width: 60%;
  min-width: 350px;
  z-index: 2;
  background: #fff;
}
.section-1 .cookies-div button {
  background: #fff;
  outline: none;
  border: none;
  border: 1px solid #4E66FF;
  border-radius: 100px;
  padding: 0.75rem 1.25rem;
  color: #4E66FF;
  cursor: pointer;
}

.section-2 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 5rem;
  height: auto;
  padding: 5rem 5%;
  background: #F9FBFD;
}
.section-2 .section-2-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}
.section-2 .section-2-content div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: 2rem;
  width: auto;
  height: 100%;
}
.section-2 .section-2-content div h2 {
  font-size: 44px;
  font-weight: 400;
  letter-spacing: 1.3200000525px;
}
.section-2 .section-2-content div p {
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 0em;
}
.section-2 .section-2-content div a {
  color: rgba(51, 51, 51, 0.5);
  border: 1px solid rgba(51, 51, 51, 0.25);
  padding: 0.75rem;
  text-decoration: none;
  border-radius: 3px;
  box-shadow: rgba(99, 99, 99, 0.25) 0px 2px 8px 0px;
}
.section-2 .section-2-carts {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1.5rem;
  width: 100%;
  height: 14rem;
}
.section-2 .section-2-carts div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  width: 28%;
  height: 100%;
  color: #393737;
}
.section-2 .section-2-carts div p {
  color: rgba(51, 51, 51, 0.5);
}

.section-3 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
  width: 100%;
  height: 60rem;
  padding: 4rem 5%;
}
.section-3 .section-3-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 2rem;
  width: 50%;
}
.section-3 .section-3-content h2 {
  font-size: 44px;
  font-weight: 400;
  letter-spacing: 1.3200000525px;
}
.section-3 .section-3-content p {
  width: 60%;
  color: rgba(51, 51, 51, 0.5);
}
.section-3 img {
  position: absolute;
}
.section-3 img:nth-of-type(1) {
  right: 0;
  bottom: 4%;
}
.section-3 img:nth-of-type(2) {
  left: 5%;
  bottom: 45%;
}
.section-3 img:nth-of-type(3) {
  left: 5%;
  bottom: 4%;
}
.section-3 img:nth-of-type(4) {
  left: 45%;
  bottom: 4%;
}

.section-4 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 8rem;
  width: 100%;
  height: auto;
  padding: 5rem 5%;
}
.section-4 .section-4-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 50%;
  gap: 2rem;
  height: auto;
}
.section-4 .section-4-brands {
  width: 100%;
  height: auto;
}
.section-4 .section-4-brands .section-4-images {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  width: 90%;
  margin: 0 auto;
}
.section-4 .section-4-brands .section-4-images img {
  width: 24%;
  height: auto;
}

.section-4-content-2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  height: auto;
  padding: 2rem 5%;
}
.section-4-content-2 .section-4-content-2-first-h2 {
  width: 40%;
  size: 2rem;
  color: #4E66FF;
  font-weight: 400;
}
.section-4-content-2 .section-4-content-2-first-div {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1.5rem;
}
.section-4-content-2 .section-4-content-2-first-div h2 {
  color: #393737;
}
.section-4-content-2 .section-4-content-2-first-div p {
  color: rgba(51, 51, 51, 0.5);
}

.section-5 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  position: relative;
  width: 100%;
  height: auto;
  padding: 5rem 5%;
  background: #F0F8FF;
  background-image: url(images/cities.svg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.section-5 .section-5-first-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: 2rem;
  color: #4E66FF;
  height: 100%;
  width: 35%;
}
.section-5 .section-5-first-content h2 {
  font-size: 96px;
  font-weight: 400;
  line-height: 101px;
  letter-spacing: 3.8399999142px;
}
.section-5 .section-5-first-content p {
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
}
.section-5 .section-5-second-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  position: absolute;
  bottom: 5rem;
  right: 10%;
  color: #4E66FF;
  width: 65%;
  height: 100%;
}
.section-5 .section-5-second-content div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  height: 12rem;
  width: 15rem;
  z-index: 2;
}
.section-5 .section-5-second-content div p {
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0em;
}
.section-5 .section-5-second-content div a {
  background: #4E66FF;
  color: #fff;
  text-decoration: none;
  padding: 1.25rem 2.5rem;
  border-radius: 4px;
}
.section-5 .background-img-div {
  position: absolute;
  width: auto;
  height: auto;
  bottom: 0;
  right: 4%;
  background: linear-gradient(90deg, rgba(78, 102, 255, 0.25) 0%, rgba(78, 102, 255, 0.15) 50%, rgba(78, 102, 255, 0.05) 100%);
}
.section-5 .background-img-div img {
  width: auto;
  height: auto;
  opacity: 1;
}

.blogs-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 2rem;
  width: 100%;
  height: 900px;
  padding: 5rem 7%;
  background: #F9FBFD;
}
.blogs-div h2 {
  color: rgba(51, 51, 51, 0.5);
}
.blogs-div .blogs {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}
.blogs-div .blogs .blog-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: 2rem;
  width: 32.5%;
  height: 30rem;
  background: #fff;
  padding-bottom: 1.5rem;
}
.blogs-div .blogs .blog-item img {
  width: 100%;
}
.blogs-div .blogs .blog-item h3 {
  width: 90%;
  margin: 0 auto;
  color: rgba(51, 51, 51, 0.75);
}
.blogs-div .blogs .blog-item p {
  width: 90%;
  margin: 0 auto;
  color: rgba(51, 51, 51, 0.5);
}
.blogs-div a {
  border: 1px solid #70748C;
  color: #70748C;
  padding: 1rem 1.5rem;
  border-radius: 4px;
  text-decoration: none;
}

.form-div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 780px;
  padding: 6rem 5%;
  background: #DDEBFF;
}
.form-div .first-div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: relative;
  gap: 10rem;
  width: 45%;
  height: 90%;
  padding: 1.5rem;
  border: 0.5rem solid #fff;
  border-radius: 8px;
}
.form-div .first-div h2 {
  font-size: 44px;
  font-weight: 700;
  line-height: 50px;
  letter-spacing: 1.3200000525px;
}
.form-div .first-div p {
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 1.7999999523px;
  color: rgba(51, 51, 51, 0.75);
}
.form-div .first-div .border-1 {
  position: absolute;
  width: 75%;
  height: 0.5rem;
  top: -0.5rem;
  left: 50%;
  transform: translateX(-50%);
  background: #DDEBFF;
}
.form-div .first-div .border-2 {
  position: absolute;
  width: 0.5rem;
  height: 75%;
  right: -0.5rem;
  top: 50%;
  transform: translateY(-50%);
  background: #DDEBFF;
}
.form-div .first-div .border-3 {
  position: absolute;
  width: 75%;
  height: 0.5rem;
  bottom: -0.5rem;
  left: 50%;
  transform: translateX(-50%);
  background: #DDEBFF;
}
.form-div .first-div .border-4 {
  position: absolute;
  width: 0.5rem;
  height: 75%;
  left: -0.5rem;
  top: 50%;
  transform: translateY(-50%);
  background: #DDEBFF;
}
.form-div .second-div {
  width: 50%;
  height: 100%;
}
.form-div .second-div form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1.75rem;
  padding: 5rem 0;
}
.form-div .second-div form input {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  padding: 1rem;
  border: none;
  outline: none;
  border-radius: 3px;
  color: rgba(51, 51, 51, 0.5);
}
.form-div .second-div form div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  width: 100%;
  height: auto;
}
.form-div .second-div form textarea {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  padding: 2rem 1rem;
  border: none;
  outline: none;
  border-radius: 3px;
  resize: none;
}
.form-div .second-div form button {
  background: #393737;
  color: #fff;
  text-decoration: none;
  padding: 0.75rem 1.5rem;
  font-size: 20px;
  font-weight: 400;
  border-radius: 4px;
  border: none;
  outline: none;
  cursor: pointer;
  margin-top: 1.75rem;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1.5rem;
  width: 100%;
  height: 20rem;
  padding: 2rem 5%;
  background: #fff;
}
footer .first-div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  height: 14rem;
}
footer .first-div div:nth-of-type(1) {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  height: 100%;
}
footer .first-div div:nth-of-type(1) p {
  color: rgba(51, 51, 51, 0.5);
}
footer .first-div .footer-links {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1rem;
  width: auto;
  height: 100%;
  list-style: none;
}
footer .first-div .footer-links .footer-link-items a {
  color: #393737;
  text-decoration: none;
  line-height: 18px;
}
footer .first-div div:nth-of-type(2) {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1rem;
  width: 12rem;
  height: 100%;
}
footer .first-div div:nth-of-type(2) .social-medias {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  height: auto;
}
footer hr {
  width: 100%;
  height: 1px;
  background: #DDEBFF;
  border: none;
}
footer .second-div {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 2rem;
  width: auto;
  height: auto;
}
footer .second-div a {
  color: rgba(51, 51, 51, 0.5);
  text-decoration: none;
}/*# sourceMappingURL=style.css.map */